@font-face {
    font-family: 'Sketchetik Fill Bold';
    src: url('/sfsites/c/resource/SiteFonts/SiteFonts/fontSk.woff') format('woff');
    
  }
  @font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('/sfsites/c/resource/SiteFonts/SiteFonts/HelveticaNeueCyr-Roman.woff') format('woff');
    
  }
  @font-face {
    font-family: 'Helvetica Neue BoldOblique';
    src: url('/sfsites/c/resource/SiteFonts/SiteFonts/HelveticaNeueCyr-Roman.woff') format('woff');
    
  }
  @font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('/sfsites/c/resource/SiteFonts/SiteFonts/HelveticaNeueCyr-Roman.woff') format('woff');
    
  }
  
  a{
      //font-family: "Raleway",sans-serif;
      text-decoration: none;
      outline: none;
  }
  .container{
      width: 80%;
      display: grid;
  }
  
  .text-section{
      position: absolute;
      color: #f2f2f2;
      font-size: 15px;
      bottom: 0px;
      width: 100px;
      text-align: center;
      background-color: rgba(0,0,0,0.7);
      
  }
  .prev, .next{
  
      padding: 0px;
      color: white;
      font-weight: 700;
      cursor: pointer;
      border-radius: 0 3px 3px 0;
  }
  .next{
      border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover{
      background: none;
  }
  .slideNumbers{
      font-size: 12px;
      position: absolute;
      padding: 8px 12px;
      top: 0;
      color: #f2f2f2;
  }
  .dot{
      height: 8px;
      width: 8px;
      border-radius: 50%;
      cursor: pointer;
      background: #F3F0EDCB;
      margin: 0 2px;
      display: inline-block;
  }
  .active, .dot:hover{
      background: white;
  }
  
  /*Media Queries - Mobile Responsive-Starts*/
  
  @media only screen and (min-width: 300px) and (max-width: 400px){
      .LenderNameStyle{
      margin-top:15px;
      margin-left:10px;
      color:white;
        font-family: 'Helvetica Neue Bold';
      font-style:italic;
      font-weight:900;
      display:inline-flex;
      font-size:18px;
      line-height:25px;
  }
          .DefineTestimonialSize{
          display:block;
          width:100%;
          padding-left:20px;
          padding-right: 20px;
      }
  .TestiCustom{
      width: 100%;
      padding-top: 48px;
  
  }
  .TestiCustom1{
      width: 70%;
  
  }
  .sldsleftIcon{
      float: left;
      display: inline-flex;
  }
  .classTestimonials{
      color:white;
      font-family:'Sketchetik Fill Bold';
      font-size:26px;
      line-height:39px;
      min-height: 280px;
  }
  }
  
  @media only screen and (min-width: 401px) and (max-width: 500px) {
      .LenderNameStyle{
      margin-top:15px;
      margin-left:10px;
      color:white;
      font-family: 'Helvetica Neue Bold';
      font-style:italic;
      font-weight:900;
      display:inline-flex;
      font-size:20px;
      line-height:25px;
  }
          .DefineTestimonialSize{
          display:block;
          width:100%;
          padding-left:20px;
          padding-right: 20px;
      }
  .TestiCustom{
      width: 100%;
      padding-top: 48px;
  
  }
  .TestiCustom1{
      width: 100%;
      padding-top: 10px;
  
  }
  .sldsleftIcon{
      float: left;
      display: inline-flex;
  }
  .classTestimonials{
      color:white;
      font-family:'Sketchetik Fill Bold';
      font-size:26px;
      line-height:39px;
      min-height: 300px;
      width: 100%;
  }
  }
  @media only screen and (min-width: 501px) and (max-width: 600px) {
      .DefineTestimonialSize{
          display:block;
          width:100%;
          padding-left:20px;
          padding-right: 20px;
      }
   .TestiCustom{
      width: 80%;
      padding-top: 100px;
  }
  .TestiCustom1{
      width: 100%;
      padding-top: 65px;
  
  }
  .sldsleftIcon{
      float: left;
      display: inline-flex;
  }
  .classTestimonials{
      color:white;
      font-family:'Sketchetik Fill Bold';
      font-size:40px;
      line-height:47px;
      min-height: 380px;
  }
  .LenderNameStyle{
      margin-top:15px;
      margin-left:10px;
      color:white;
      font-family: 'Helvetica Neue Bold';
      font-style:italic;
      font-weight:900;
      display:inline-flex;
      font-size:24px;
      line-height:25px;
  }
  }
  @media only screen and (min-width: 601px) and (max-width: 700px) {
      .DefineTestimonialSize{
          display:block;
          width:100%;
          padding-left:10%;
          padding-right: 10%;
      }
   .TestiCustom{
      width: 75%;
      padding-top: 100px;
  }
  .TestiCustom1{
      width: 100%;
      padding-top: 65px;
  
  }
  .sldsleftIcon{
      float: left;
      display: inline-flex;
  }
  .classTestimonials{
      color:white;
      font-family:'Sketchetik Fill Bold';
      font-size:40px;
      line-height:57px;
      min-height: 500px;
  }
  .LenderNameStyle{
      margin-top:15px;
      margin-left:10px;
      color:white;
      font-family: 'Helvetica Neue Bold';
      font-style:italic;
      font-weight:900;
      display:inline-flex;
      font-size:24px;
      line-height:25px;
  }
  }
  @media only screen and (min-width: 701px) and (max-width: 1199px) {
      .DefineTestimonialSize{
          display:block;
          width:65%;
          padding-left:10%;
          padding-right: 10%;
      }
  .TestiCustom{
      width: 80%;
      padding-top: 50px;
  }
  .TestiCustom1{
      width: 80%;
      padding-top: 10px;
  }
  .sldsleftIcon{
      display: flex;
      justify-content: center;
  }
  .classTestimonials{
      color:white;
      font-family:'Sketchetik Fill Bold';
      font-size:22px;
      line-height:25px;
      min-height: 165px;
  }
  .LenderNameStyle{
      margin-top:15px;
      margin-left:10px;
      color:white;
      font-family: 'Helvetica Neue Bold';
      font-style:italic;
      font-weight:900;
      display:inline-flex;
      font-size:20px;
      line-height:24px;
  }
  }
  @media only screen and (min-width: 1200px) {
      .DefineTestimonialSize{
          display:block;
          width:52%;
          padding-left:10%;
      }
  .TestiCustom{
      width: 100%;
      padding-top: 85px;
      float: left;
  
  }
  .TestiCustom1{
      width: 100%;
      padding-top: 20px;
  }
  .sldsleftIcon{
      display: flex;
      justify-content: center;
  }
  .classTestimonials{
      color:white;
      font-family:'Sketchetik Fill Bold';
      font-size:40px;
      line-height:55px;
      min-height: 290px;
  }
  .LenderNameStyle{
      margin-top:15px;
      margin-left:10px;
      color:white;
      font-family: 'Helvetica Neue Bold';
      font-style:italic;
      font-weight:900;
      display:inline-flex;
      font-size:24px;
      line-height:25px;
  }
  }
  @media only screen and (min-width: 1500px) {
      .TestiCustom{
      width: 100%;
      padding-top: 125px;
      float: left;
  
  }
  .TestiCustom1{
      width: 100%;
      padding-top: 20px;
  }
      .DefineTestimonialSize{
          display:block;
          width:60%;
          padding-left:10%;
          padding-right: 10%;
      }
  .classTestimonials{
      color:white;
      font-family:'Sketchetik Fill Bold';
      font-size:40px;
      line-height:55px;
      min-height: 320px;
  }
  .LenderNameStyle{
      margin-top:15px;
      margin-left:10px;
      color:white;
      font-family: 'Helvetica Neue Bold';
      font-style:italic;
      font-weight:900;
      display:inline-flex;
      font-size:24px;
      line-height:25px;
  }
  }
  /*Media Queries - Mobile Responsive-Ends*/