.container{
	/*margin: 10px 20px 10px 20px;*/
	width: fit-content;
}

.text-section{
	position: absolute;
	color: #f2f2f2;
	font-size: 15px;
	bottom: 0px;
	width: 100px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
}
.prev, .next{
	position: absolute;
	width: auto;
	padding-top: 0px;
	color: #002A3A;
	font-weight: 700;
	cursor: pointer;
	border-radius: 0 3px 3px 0;
}
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background: none;
}
.slideNumbers{
	font-size: 12px;
	position: absolute;
	padding: 8px 12px;
	top: 0;
	color: #f2f2f2;
}
.dot{
	height: 8px;
	width: 8px;
	border-radius: 50%;
	cursor: pointer;
	background: #7F949C;
	margin: 0 2px;
	display: inline-block;
}
.active, .dot:hover{
	background: #002A3A;
}

.ImageDiv{
  background-color: red;
  margin: 0;
  top: 0;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.CarContent{
  margin: 15px;
}
.carTitle{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    min-height: 55px;
}
.locastions{
  display: inline-flex;
  margin: 10px;
}
.carPara{
  margin-bottom: 10px;
  font-family: 'Helvetica';
}
.carButton{
    background: none;
    border-radius: 10px;
    border-width: 2px;
    width: 100px;
    font-size: 10px;
    height: 35px;
    padding: 2px;
    margin-bottom: 20px;
}
.CarButtons:hover{
  color:black;
  background:none;
  border:none;
  width: 2px;
}
.CarButtons{
  color:black;
  background:none;
  border:none;
  width: 2px;
}
.BottomDiv {
  
  margin: 0;
  height: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
}

.progressBar {
  width: 98%;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0.5px;
}

.progressBarInner {
  height: 50%;
  background-color: #ffd700; 
  border-radius: 5px;
  width: 30%; 
  margin: 2.5px;
}

.shoppingCart {
  margin-right: 10px;
  color: #ffffff;
  width: 24px;
}

/*Media Queries - Mobile Responsive-Starts*/

@media only screen and (max-width: 600px) {
	.allignleftCenter{
		display: flex;
		justify-content: center;
	}
.TestiCustom{
	width: 100%;
	padding-top: 85px;

}
.sldsleftIcon{
	float: left;
	display: inline-flex;
}
}
@media only screen and (min-width: 600px) {
		.allignleftCenter{
		display: flex;
		justify-content: center;
	}
 .TestiCustom{
	width: 100%;
	padding-top: 85px;
}
.sldsleftIcon{
	float: left;
	display: inline-flex;
}
}
@media only screen and (min-width: 768px) {
		.allignleftCenter{
		display: flex;
		justify-content: center;
	}
.TestiCustom{
	width: 50%;
	padding-top: 85px;
}
.sldsleftIcon{
	display: flex;
	justify-content: center;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
		.allignleftCenter{
		display: flex;
		justify-content: left;
	}
.TestiCustom{
	width: 50%;
	padding-top: 85px;
}
.sldsleftIcon{
	display: flex;
	justify-content: center;
}
}
@media only screen and (min-width: 1200px) {
		.allignleftCenter{
		display: flex;
		justify-content: left;
	}
.TestiCustom{
	width: 50%;
	padding-top: 85px;
	float: left;
	margin-left: 50px;

}
.sldsleftIcon{
	display: flex;
	justify-content: center;
}
}
@media only screen and (min-width: 1500px) {
		.allignleftCenter{
		display: flex;
		justify-content: left;
	}
.TestiCustom{
	width: 50%;
	padding-top: 85px;
	float: left;
	margin-left: 50px;

}
.sldsleftIcon{
	display: flex;
	justify-content: center;
}
}
.grid-containerdots {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px 20px;
  padding: 10px;
}

/*Media Queries - Mobile Responsive-Ends*/